{% extends "menu/menu_layout.html" %}

{% block navigator_title %}Mentions légales{% endblock navigator_title %}
{% block content %}
<html lang="fr">
<section id='mention' style='padding-top: 150px;'>
    <header>
        <h1>Mentions Légales</h1>
    </header>
    <body>
        <p>Le site Harmony est édité par Alex Libor, dont le siège social est situé 4 Rue Antoine Parmentier, 61000 Alençon.</p>

        <p>Le site Harmony n'est pas hébergé.</p>

        <p>Nous contacter :</p>

        <p>libor.alex@gmail.com</p>

        <p>Harmony conservera dans ses systèmes informatiques et dans des conditions raisonnables de sécurité une preuve de la transaction comprenant le bon de commande et la facture.</p>

        <p>Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’Utilisateur dispose d’un droit d’accès, de modification et de suppression des informations collectées. Pour exercer ce droit, il reviendra à l’Utilisateur d’envoyer un message à l’adresse suivante : libor.alex@gmail.com</p>
    </body>
</section>
</html>    
{% endblock %}