<p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l’économie numérique, il est précisé aux utilisateurs du site legalplace.fr l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
Edition du site</p>

<p>Le site Harmony est édité par Alex Libor, dont le siège social est situé 4 Rue Antoine Parmentier, 61000 Alençon.
Responsable de publication</p>

<p>Alex Libor</p>
<p>Hébergeur</p>

<p>Le site Harmony est hébergé par lui même.</p>

<p>Nous contacter</p>

<p>Par email : libor.alex@gmail.com</p>

<p>CNIL</p>

<p>La société Harmony conservera dans ses systèmes informatiques et dans des conditions raisonnables de sécurité une preuve de la transaction comprenant le bon de commande et la facture.</p>

<p>La société Harmony a fait l’objet d’une déclaration à la CNIL sous le numéro 1986932.</p>

<p>Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’Utilisateur dispose d’un droit d’accès, de modification et de suppression des informations collectées par LegalPlace. Pour exercer ce droit, il reviendra à l’Utilisateur d’envoyer un message à l’adresse suivante : libor.alex@gmail.com</p>
