<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="menu of the Harmony website">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block navigator_title %}Harmony : Accueil{% endblock navigator_title %}</title>
        <link rel="shortcut icon" type="image/ico" href="\templates\favicon.ico"/>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css\menu.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% block link%}{% endblock %}{% block script%}{% endblock %}
    </head>

    <body>
        <div class="menu">
            <nav class="desktop">
                <ul>
                    <li>
                        <a href="/content/">Accueil</a>
                    </li>
                    <li>
                        <a href="/content/gallery">Galerie</a>
                    </li>
                    <li>
                        <a href="/content/tip">Astuces</a>
                    </li>
                    <li>
                        <a href="/association">Association</a>
                    </li>
                    <li>
                        <a href="/login"><img class="logo" alt="se connecter" title="Logo pour login" src="{% static 'img\picto_profil.png' %}" /></a>
                    </li>
                </ul>
            </nav>
            <nav class='mobile'>
                <ul>
                    <li>
                        <a href="/content/"><img class="logo" alt="accueil" title="Logo pour accueil" src="{% static 'img\picto_home.png' %}" /></a>
                    </li>
                    <li>
                        <a href="/content/image"><img class="logo" alt="Galerie" title="Logo pour galerie" src="{% static 'img\picto_photo.png' %}" /></a>
                    </li>
                    <li>
                        <a href="/content/tip"><img class="logo" alt="Tips" title="Logo pour tips" src="{% static 'img\picto_tips.png' %}" /></a>
                    </li>
                    <li>
                        <a href="/content/tip"><img class="logo" alt="Asso" title="Logo pour asso" src="{% static 'img\picto_asso.png' %}" /></a>
                    </li>
                    <li>
                        <a href="/login"><img class="logo" alt="se connecter" title="Logo pour login" src="{% static 'img\picto_profil.png' %}" /></a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="div-footer">
            <span>Copyright © Harmony - <a href="/legal">Legal Page</a>  Powered by <a href="https://www.djangoproject.com/">Django</a></span>
        </div>
    </footer>
</html>