<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block navigator_title %}Harmony : Accueil{% endblock navigator_title %}</title>
        <link rel="shortcut icon" type="image/ico" href="\templates\favicon.ico"/>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css\menu.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css\index.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet"> 
    </head>

    <body>
        <div class="menu">
            <nav class="desktop">
                <ul>
                    <li>
                        <a href="/content/">Accueil</a>
                    </li>
                    <li>
                        <a href="/content/image">Galerie</a>
                    </li>
                    <li>
                        <a href="/content/tip">Tips</a>
                    </li>
                    <li>
                        <img class="login" alt="se connecter" title="Logo pour login" src="{% static 'img\pictoprofil.png' %}" href="/login"/>
                    </li>
                </ul>
            </nav>
            <nav class='mobile'>
                <label id="nav-icon1" for="nav-menu1">
                    <span>Testmobile</span>
                    <span>Testmobilee</span>
                    <span>Testmobileee</span>
                    <span>Testmobileeee</span>
                </label>
                <input type="checkbox" id="nav-menu1">
            </nav>
        </div>
    </body>
    {% block content %}
    {% endblock %}
</html>