{% extends "menu/menu_layout.html" %}

{% block navigator_title %}Add content{% endblock navigator_title %}
{% load static %}

{% block link%}
<link rel="stylesheet" type="text/css" href="{% static 'css\add_content.css' %}">
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js\add_content.js' %}"></script>
{% endblock %}

{% block content %}
<body>
    <div id='add-content'>
        <h1>TEST</h1>
        <div class="select">Choisir le type de contenu à ajouter 
            <select id='selected'>
                <option></option>
                <option>Astuce</option> 
                <option>Image</option>
            </select>
        </div>
        <form action="" method="POST" id='pic'>
            {% csrf_token %}
            {{ formToAdd.as_p }}
            <button type='submit'>Push</button>
        </form>
        <form action="" method="POST" id='tip'>
            {% csrf_token %}
            {{ formToAlsoAdd.as_p }}
            <button type='submit'>Push</button>
        </form>
    </div>
</body>
{% endblock %}
