{% extends "menu/menu_layout.html" %}

{% block navigator_title %}Add content{% endblock navigator_title %}
{% load static %}
{% load widget_tweaks %}
{% block link%}
<link rel="stylesheet" type="text/css" href="{% static 'css\add_content.css' %}">
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js\add_content.js' %}"></script>
{% endblock %}

{% block content %}
<body>
    <div id='add-content'>
        <h1>Partager</h1>
        <div class="div-select">Choisir le type de contenu à ajouter 
            <select id='selected'>
                <option></option>
                <option value="Astuce">Astuce</option> 
                <option value="Image">Image</option>
            </select>
        </div>
        <div class="div-form">
            <form action="" method="POST" id='pic'>
                {% csrf_token %}
                {{ formImage.as_p }}
                <button type='submit'>Push</button>
            </form>
            <form action="" method="POST" id='tip'>
                {% csrf_token %}
                {{ formTips.media}}
                {{ formTips.as_p }}
                <button type='submit'>Push</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}
