{% extends "menu/menu_layout.html" %}

{% block navigator_title %}Gallery{% endblock navigator_title %}
{% load static %}

{% block link%}
<link rel="stylesheet" type="text/css" href="{% static 'css\gallery.css' %}">
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js\gallery.js' %}"></script>
{% endblock %}

{% block content %}
<html lang="fr">
<section id='gallery'>
    <header >
        <h1>La Nature en images</h1>
    </header>
    <body>
        {% if wholeGallery %}
        {% for image in page_obj %}
            <div class="div-img-container">
                <img id='{{ image.id }}' class="img-src" alt="{{ image.title }}" title="{{ image.title }}" src="{{ image.url }}" loading="lazy"/>
                <div class="div-desc">
                    <ul>
                        <li>"{{ image.title }}" par {{ image.owner }}</li>
                        <li>{{ image.posting_date|date:"d/m/y" }} {{ image.department }}</li>
                        <li>{{ image.description }}</li>
                    </ul>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        <div class="div-pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo;</a>
                    <a href="?page={{ page_obj.previous_page_number }}"><</a>
                {% endif %}
    
                <span class="current">
                    Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
                </span>
    
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                {% endif %}
            </span>
        </div>
    </body>
</section>
</html>    
{% endblock %}