{% extends "menu/menu_layout.html" %}

{% block navigator_title %}Harmony{% endblock navigator_title %}
{% load static %}

{% block link%}
<link rel="stylesheet" type="text/css" href="{% static 'css\index.css' %}">
{% endblock %}
{% block script%}
<script src="{% static 'js\carousel.js' %}"></script>
{% endblock %}

{% block content %}
<body>
    <div class='index'>
        <section id='index-gallery'>
            <h1>La Nature en image</h1>
                {% if latest_images %}
                    {% for image in latest_images %}
                        <img class="img-src hidden" alt="{{ image.title }}" title="{{ image.title }}" src="{{ image.url }}" id="{{ image.id }}"/>
                        <!-- <div class="div-event hidden"><a class="a-title" target='_blank' ><div class="div-img-menu hidden">{{ image.title }}</div></a></div> -->
                    {% endfor %}
                {% else %}
                    <p>No images are available.</p>
                {% endif %}
                <ul>
                    <li class="contain m-hidden">
                        <div class="div-gallery">
                            <img class="img-gallery" alt="{{ image.title }}" title="{{ image.title }}" src="{{ image.url }}" />
                            <div class="div-event"><a class="a-title" target='_blank' ><div class="div-img-menu">{{ image.title }}</div></a></div>
                            
                        </div>
                    </li>
                    <li class="contain">
                        <div class="div-gallery">
                            <img class="img-gallery" alt="{{ image.title }}" title="{{ image.title }}" src="{{ image.url }}" />
                            <div class="div-event"><a class="a-title" target='_blank' ><div class="div-img-menu">{{ image.title }}</div></a></div>
                        </div>
                    </li>
                    <li class="contain hidden">
                        <div class="div-gallery">
                            <img class="img-gallery" alt="{{ image.title }}" title="{{ image.title }}" src="{{ image.url }}" />
                            <div class="div-event"><a class="a-title" target='_blank' ><div class="div-img-menu">{{ image.title }}</div></a></div>
                        </div>
                    </li>
                </ul>
        </section>
        <section id='index-tips'>
            <h1>La Nature et ses secrets</h1>
                <ul>
                    {% for tip in tips %}
                        {% if forloop.counter == 4 %}
                        {% else %}
                            {% if forloop.first %}    
                            <li class="li-tips-frame">
                                <div class='div-tips'>
                                    <ul>
                                        <li>{{ tip.title }}</li>
                                        <li>Catégorie :  {% for cat in tip.category.all %}{{ cat }} {% endfor %}</li>
                                        <li>Par : {{ tip.owner }}</li>
                                        <li>{{ tip.description|safe }}</li>
                                        <li><button class="button">Voir</button></li>
                                    </ul>
                                </div>
                            </li>
                            {% else %}
                            <li class="li-tips-frame">
                                <div class='div-tips m-hidden'>    
                                    <ul>
                                        <li>{{ tip.title }}</li>
                                        <li>Catégorie :  {% for cat in tip.category.all %}{{ cat }} {% endfor %}</li>
                                        <li>Par : {{ tip.owner }}</li>
                                        <li>{{ tip.description|safe }}</li>
                                        <li><button class="button">Voir</button></li>
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
        </section>
        <section id='index-asso'>
            <h1>La Nature et ses héros</h1>
            {% for asso in associations %}
                {% if forloop.counter == 4 %}
            {% else %}   
            <div class='div-asso'>
                    <img class="img-logo-asso" alt="logo association" title="exemple photo" src="{{ asso.logo }}" />
                    <ul>
                        <li>{{ asso.name }}</li>
                        <li>Catégories : {% for cat in asso.category.all %}{{ cat }} {% endfor %}.</li>
                        <li>{{ asso.department }}</li>
                        <li>{{ asso.description }}</li>
                        <li><button class="button">Découvrir</button></li>
                    </ul>
                </div>
                {% endif %}
                {% endfor %}
        </section>
        <section id='index-join-us'>
            <p>Mélangeons tout ces éléments et nous serons en - Harmony - avec elle !</p>
            <p>Toi aussi, participe à ta manière122</p>
        </section>
    </div>
</body>
{% endblock %}