/* GENERAL */
#add-content body{
    margin : 0;
    padding : 0;
}
#add-content{
    border:solid 2px var(--Dgreen);
    margin-left:10%;
    margin-right:10%;
    padding-top:150px; /*not hidden by desktop menu*/
}
.div-footer{
    margin: auto;
    text-align: center;
}
.form-owner{
    display: none;
}
#add-content h1 {
    text-align: center;
}
#menu-asso{
    color: var(--Ygreen);
}
#add-content p {
    color:black;
    width: min-content;
}
/* FORM */
label[for="id_owner"],
#id_owner {
    display: none;
}
#add-content form {
    display: none;
    margin: auto;
    margin-bottom: 4%;
}
#add-content input {
    display: block;
}
#add-content .div-select, .div-form{
    display: table;
    margin: auto;
}
#add-content .img-help{
    width:10px;
    margin-left: 1%;
}
#add-content button{
    margin: auto;
    display: block;
}
.helptext{
    white-space: nowrap;
    font-size: 0.5em;
}
@media only screen and (max-width: 768px) {
    /* Index Responsive page */
    #add-content{
        padding-top: 4%;
        padding-bottom: 80px; /*not hidden by mobile menu*/
        margin-left: 0%;
        margin-right:0%;
        border:none;
    }
}