#gallery body{
    margin : 0;
    padding : 0;
}
#gallery{
    border:solid 2px var(--Dgreen);
    margin-left:10%;
    margin-right:10%;
    padding-top:150px; /*not hidden by desktop menu*/
}
#gallery h1{
    text-align: center;
    color: var(--Ygreen);
    background: var(--green);
}
#gallery ul{
    list-style: none;
    color : var(--green);
}
#gallery .div-img-container{
    display: table;
    margin: auto;
    margin-top: 4%;
}
#gallery .div-desc{
    display: none;
}
#gallery .div-desc ul {
    display: table;
    margin: auto;
    padding-left: 0px;
}
#gallery img{
    border: solid 2px var(--Dgreen);
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

@media only screen and (max-width: 768px) {
    /* Index Responsive page */
    #gallery{
        padding-top: 4%;
        padding-bottom: 80px; /*not hidden by mobile menu*/
        margin-left: 0%;
        margin-right:0%;
        border:none;
    }
    #gallery img{
        border: none;
        border-top : solid 2px var(--Dgreen); 
        border-bottom: solid 2px var(--Dgreen);
    }
    #gallery .div-img-container{
        margin-top: 0%;
        margin-bottom:4%;
    }
    
    .img-src{
        width : 100%;
        height :auto;
    }

}
@media only screen and (max-width: 400px) {
    #gallery{
        padding-bottom: 25px; /*not hidden by mobile menu*/
        width: 100%;
    }
    .div-desc ul {
        margin: 5%;
    }
}