/* INDEX PAGE */

:root{
    --green: #426D49;
    --Dgreen : #25522b;
    --Ygreen : #b5e61d;
}

.index body{
    margin : 0;
    padding : 0;
}
.index{
    border:solid 2px var(--Dgreen);
    margin-left:10%;
    margin-right:10%;
    padding-top:150px; /*not hidden by desktop menu*/
    width: fit-content;
}
.index p {
    color:var(--green);
    text-align: center;
}
.index h1{
    text-align: center;
    color: var(--Dgreen);
    font-size: 2.5em;
}
.index ul{
    padding-left: 0;
    list-style: none;
    display: inline-flex;
    margin: auto;
    width: auto;
}


/* Galerie */
.index .div-gallery{
    display: table-cell;
    height: 350px;
    vertical-align: middle;
}
.index .img-gallery{
    max-height: 100%;
    max-width: 100%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.index .button {
    background-color: var(--green);
    border: solid 1px var(--Ygreen);
    color: white;
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    display: table;
    margin: auto;
    font-size: 1vw;
    cursor: pointer;
    margin-top:4%;
    margin-bottom:4%;
}
.index #gallery ul{
    width:100%;
}
.index #gallery li{
    display: table;
    margin: auto;
    max-width: 40%;
}
.index .hidden{
    display: none!important
}
.index .div-event{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border:solid 1px var(--Dgreen);
    
}
.index .div-img-menu{
    background-color: var(--Ygreen);
    color: var(--Dgreen);
    font-size: 0.75vw;
    padding: 16px 32px;
    white-space: nowrap;
}
.index .contain{
    position: relative;
}
.index .contain:hover .galerie {
    opacity: 0.3;
}
.index .contain:hover .div-event {
    opacity: 1;
}

/* Tips */
.index .div-tips{
    margin-left:10%;
    margin-right:10%;
    border:solid 1px var(--green);
    overflow-y: scroll;
    scrollbar-color: var(--Ygreen) var(--green);
    scrollbar-width: thin;
}
.index .div-tips ul{
    padding-left:0;
    width: 100%;
    display: block;
}
.index .div-tips li{
    margin-left: 0%;
    width: 100%;
    margin: auto;
}
.index .li-tips-frame{
    width:33%;
}

/* Associations */
#asso ul{
    width:100%;
    display: block;
    margin-left: 1%;
}
#asso li{
    color : var(--Dgreen);
}
#asso img{
    width: 400px;
    float: left;
}
#asso .div-asso{
    margin-left:10%;
    margin-right:10%;
    display: flex;
    margin-bottom: 4%;
    border :solid 1px var(--Ygreen);
    padding: 2px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
/* Index Responsive page */
    .index{
        padding-top:0px;
        padding-bottom: 80px; /*not hidden by mobile menu*/
        margin-left: 0%;
        margin-right:0% ;
    }
    .index .m-hidden{
        display: none!important
    }
    .index .button{
        font-size:3vw;
    }
    .index h1{
        font-size:5vw;
    }
    section{
        display: table;
        margin: auto;
        
    }
/* Mobile Galerie */
    .div-img-menu{
        font-size:5vw;
    }
    .index .div-gallery{
        display: block;
        height: auto;
    }
    #gallery li{
        max-width: 1000%;
    }
/* Mobile Tips */

    .index .div-tips li{
        margin-left: 0%;
        width: 100%;
        margin: auto;
        font-size: 3vw;
    }
    .index #tips ul{
        display:table;    
    }
    .index .li-tips-frame{
        width:66%;
        margin: auto;
    }
/* Mobile Associations */
    #asso img{
        width: 30%;
        float: none;
        margin: auto;
        display: table;
    }
    #asso .div-asso{
        display: block;
    }
}