{% extends "menu/menu_layout.html" %}

{% block navigator_title %}Log in{% endblock navigator_title %}
{% load static %}

{% block link%}
<link rel="stylesheet" type="text/css" href="{% static 'css\login.css' %}">
{% endblock %}

{% block content %}
<section id='login' style="padding-top: 200px;">
    <div class="div-form">
        <form action="" method="POST" id='pic'>
            {% csrf_token %}
            {{ formToAdd.as_p }}
            <button type='submit'>Push</button>
        </form>
    </div>
</section>
{% endblock %}